#board {
    padding: 5em;
    text-align: center;
  }
  
  .row > div {
    float: left;
    height: 100px;
    width: 100px;
  }
  
  .row > div:hover {
    cursor: pointer;
  }
  
  .row {
    clear: both;
    width: 308px;
    margin: auto;
  }
  
  h1 {
    color: rgb(10, 206, 245);
    font-size: 85px;
    margin-bottom: 30px;
  }
  
  h3 {
    color: rgb(221, 124, 107);
    font-size: 30px;
    background-color: #8FB3BA;
    margin: 1em -2em;
    padding: 15px 30px 30px 30px;
  }
  
  .box {
    font-size: 90px;
    color: #8FB3BA;
  }
  
  .top {
    border-bottom: 4px solid #8FB3BA;
  }
  
  .center {
    border-left: 4px solid #8FB3BA;
    border-right: 4px solid #8FB3BA;
  }
  
  .bottom {
    border-top: 4px solid #8FB3BA;
  }
  
  .winner {
    height: 25px;
    width: auto;
    text-decoration: underline;
  }
  
  body {
    background-color: #362A28;
  }